.hover-shadow:hover {
  background-color: #f8f9fa;
  transition: background-color 0.2s ease-in-out;
}

.list-group-item {
  transition: background-color 0.2s;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}
