<div class="tab-list-footer-page">
  <div class="header">მომხმარებელი</div>
  <div class="artists-list d-flex full-width full-height flex-column">
    <div class="d-flex flex-column full-width full-height">
      <div class="d-flex flex-column" style="padding: 1rem">
        <span>User name</span>
        <span>{{ account?.userName }}</span>
      </div>
      <div class="d-flex flex-column" style="padding: 1rem">
        <span>Email</span>
        <span>{{ account?.email }}</span>
      </div>
      <div class="d-flex flex-column" style="padding: 1rem">
        <span>First name</span>
        <span>{{ account?.firstName }}</span>
      </div>
      <div class="d-flex flex-column" style="padding: 1rem">
        <span>Last name</span>
        <span>{{ account?.lastName }}</span>
      </div>
    </div>
  </div>
</div>
