<div class="tab-list-footer-page">
  <div class="header">Accounts</div>
  <div class="artists-list d-flex full-width full-height flex-column">
    <div class="d-flex flex-column full-width full-height">
      <div class="d-flex flex-row" style="padding: 2rem">
        <mat-select (selectionChange)="senderSelected($event)">
          <mat-option *ngFor="let account of accounts" [value]="account">
            {{ account.userName }}
          </mat-option>
        </mat-select>
<!--        <mat-select (selectionChange)="receiverSelected($event)">-->
<!--          <mat-option *ngFor="let account of accounts" [value]="account">-->
<!--            {{ account.userName }}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
      </div>

      <button class="card-btn" (click)="openAccountDetails(sender?.id!)">Go to details</button>
    </div>
  </div>
</div>
