.player-container {
  position: fixed;
  bottom: 2rem;

  audio {
    width: calc(100vw / 2);
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .player-container {
    bottom: 7rem;

    audio {
      width: 90vw;
    }
  }
}
