<div class="d-flex flex-column" style="gap: 1rem">
  <!-- Friends Section -->
  <div
    class="d-flex flex-column"
    style="flex-grow: 1"
    *ngIf="friends.length > 0"
  >
    <span>Friends</span>
    <div class="d-flex flex-column">
      <div class="friend" *ngFor="let friend of friends">
        <h3>{{ friend.userName }}</h3>
        <button class="card-btn" (click)="startPrivateChat(friend)">💬</button>
        <button class="card-btn" (click)="unfriend(friend)">🚫</button>
        <input type="checkbox" [(ngModel)]="friend.checked" />
        <mat-divider style="margin: 0.4rem"></mat-divider>
      </div>
    </div>
    <div class="d-flex flex-row" style="margin-top: 1rem">
      <button class="card-btn" (click)="startGroupChat()">Group 💬</button>
      <button class="card-btn" (click)="startGroupChat(true)">
        New Group 💬
      </button>
    </div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>
  <div class="d-flex flex-column" *ngIf="receivedFriendRequests.length > 0">
    <span>Requests</span>
    <div class="card" *ngFor="let friendRequest of receivedFriendRequests">
      <div class="card-body">
        <h3 class="card-title">{{ friendRequest.userName }}</h3>
        <button class="card-btn" (click)="acceptFriend(friendRequest)">
          ✅
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column" *ngIf="sentFriendRequests.length > 0">
    <span>Sent Requests</span>
    <div class="card" *ngFor="let sentRequest of sentFriendRequests">
      <div class="card-body">
        <h3 class="card-title">{{ sentRequest.userName }}</h3>
        <span>⏳ Pending</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column" *ngIf="randomAccounts.length > 0">
    <span>Other Accounts</span>
    <div class="card" *ngFor="let account of randomAccounts">
      <div class="card-body">
        <h3 class="card-title">{{ account.userName }}</h3>
        <button class="card-btn" (click)="sendFriendRequest(account)">
          🙋‍♂️
        </button>
      </div>
    </div>
  </div>
</div>
