@font-face {
  font-family: nino_mtavruli;
  src: url(assets/bpg_nino_mtavruli_bold.ttf) format("opentype");
}

/* Georgian headings — apply where needed */
.font-nino {
  font-family: "nino_mtavruli", "arial", sans-serif;
}
