<div class="chat-page">
  <header class="chat-page__toolbar">
    <span class="chat-page__title">Chat</span>
    <span class="chat-page__toolbar-actions">
      <button
        type="button"
        class="chat-page__icon-btn"
        aria-label="Chat menu"
        (click)="openChatDetails()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </span>
  </header>

  <div class="chat-page__body">
    <div
      class="chat-page__scroll list-scroll-behavior"
      #scrollElement
    >
      <div class="chat-page__messages" id="messageBox">
        <ng-container *ngFor="let message of chat.messages">
          <app-message-bubble
            [message]="message"
            [isSender]="message.sender.id === me?.id"
            [participant]="getReceiver(message.sender.id)"
            (retry)="retryMessage($event)"
          >
          </app-message-bubble>
        </ng-container>
      </div>
    </div>
    <app-message-input
      (sendMessage)="onSendMessage($event)"
      (sendFile)="onSendFile($event)"
    >
    </app-message-input>
  </div>
</div>
