<div class="tab-list-footer-page">
  <div class="header">ჩატი</div>
  <form [formGroup]="chatGroup$!">
    <div class="artists-list d-flex full-width full-height flex-column">
      <div class="d-flex flex-column full-width full-height">
        <div class="chat-container d-flex flex-column list-scroll-behavior" #scrollElement>
          <div class="message-box" id="messageBox">
            <ng-container *ngFor="let message of chat.messages" class="message-item">
              <ng-container
                [ngTemplateOutlet]="receiverTemplate"
                [ngTemplateOutletContext]="{
                  account: this.getReceiver(message.sender.id),
                  message: message
                }"
                *ngIf="message.sender.id !== this.me?.id"></ng-container>
              <ng-container
                [ngTemplateOutlet]="senderTemplate"
                [ngTemplateOutletContext]="{
                  account: this.me,
                  message: message
                }"
                *ngIf="message.sender.id === this.me?.id"></ng-container>
            </ng-container>
          </div>
        </div>
        <input type="text" class="message-input" formControlName="messageContent" placeholder="Type a message...">
        <button class="send-btn" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </form>
</div>

<ng-template #senderTemplate let-account="account" let-message="message">
  <div class="d-flex flex-column message-box-mine" style="margin: 1.5rem">
    <span style="font-size: 0.6em; margin-bottom: 1rem">you</span>
    <span style="font-size: 1.2em">{{ message.content }}</span>
    <span style="font-size: 0.8em">{{ message.statusString }}</span>
  </div>
</ng-template>


<ng-template #receiverTemplate let-account="account" let-message="message">
  <div class="d-flex flex-column message-box-others" style="margin: 1.5rem">
    <span style="font-size: 0.6em; margin-bottom: 1rem">{{ this.account?.userName }}</span>
    <span style="font-size: 1.2em">{{ message.content }}</span>
  </div>
</ng-template>
